/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ROOT */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}

/* STYLE */

body{
    position: relative;
    overflow: hidden;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content img{
    width: 60vw;
    margin: 10%;
}

.main-content{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.box-form{
    flex-direction: column;
    color: white;
    width: 90vw;
    height: 65vh;
    background-color: #E94A34;
    border-radius: 2em;
    display: flex;
    justify-content: space-around;
    text-align: center;
    box-shadow: 10px 10px #00A5A5;
}

.main-content .box-form .title-form h1{
    margin-top: 0.25em;
    font-family: 'Fugaz One', cursive;
    font-size: 4em;
}

.form{
    display: flex;
    justify-content: center;
}

.form input{
    padding-left: 15px;
    padding-top: 10px;
    font-size: 1em;
    box-shadow: inset 8px 8px #982E1F;
    color: white;
    border: none;
    margin-bottom: 5%;
    width: 70vw;
    height: 4vh;
    background-color: #85281B;
}

.form input::placeholder{
    font-family: 'Fira Sans', sans-serif;
    color: white;
}

.form input:focus{
    border: none;
    text-decoration: none;
}

.form select{
    padding-left: 15px;
    padding-top: 10px;
    font-size: 1em;
    box-shadow: inset 8px 8px #982E1F;
    width: 70vw;
    height: 4vh;
    color: white;
    background-color: #85281B;
}

.submit-btn button{
    cursor: pointer;
    color: #1A4C96;
    font-size: 1.75em;
    font-weight: bold;
    border: none;
    border-radius: 2em;
    width: 30vw;
    height: 5vh;
    background-color: #FEC800;
    margin-bottom: 10px;
}




.circle{
    border-radius: 100%;
    position: absolute;
    top: 80vh;
    left: -10em;
    z-index: -10000;
    width: 20em;
    aspect-ratio: 1;
    background-color: #FEC800;
}


